.photo-works {
    display: block;
}

.cover {
    position: relative;
    overflow: hidden;
}

.cover-text {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
}

.works:hover .cover-text,
.works:focus .cover-text {
    transform: translateY(0%);
}






.works {
    display: block;
    text-decoration: none;
    &:hover,
        &:focus {
            transform: translateY(0%);
        }
               
                &:focus {
                    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                        1px 4px 6px rgba(0, 0, 0, 0.16);
                }
}




.flex {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 450px;
   
   
    margin-bottom: 30px;
    background: #ffffff;
    border: 1px solid #eeeeee;

    transition-duration: 250ms;
    transition-property: var(--white-color);
    transition-timing-function: var(--cubik);
    &:nth-child(3n) {
            margin-right: 0px;
        }
    
        &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }
    
      
}




.wrapper {
    padding: 20px 24px;
}


.works-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    letter-spacing: 0.06em;
}

.works-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;

    letter-spacing: 0.03em;
}