.section-four {
    padding-bottom: 60px;
    padding-top: 60px;

    // @media screen and (min-width:320px) {
    //         width: calc((100%-30px)/2);
    //     }
    
    //     @media screen and (min-width:320px) {
    //         width: calc((100%-60px)/3);
    //     }
    
    //     @media screen and (min-width:1200px) {
    //         width: calc((100%-150px)/6);
    //     }
}



.company-link {
    width: 210px;
    height: 92px;
    border: 1px solid var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    fill: var(--icon-color);

    transition-property: var(--button-background-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            border-color: var(--accent-color);
            fill: var(--accent-color);
        }
}




.clients {
    color: currentColor;
    .wrap-item:hover & {
            fill: var(--accent-color);
        }
    
        .wrap-item:focus & {
            color: var(--accent-color);
        }
}

.four.countainer {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.companies {
    // @media screen and (min-width:320px) {
    //     width: calc((100%-30px)/2);
    // }
         
    // @media screen and (min-width:320px) {
    //     width: calc((100%-60px)/3);
    // }
    // @media screen and (min-width:1200px) {
    //  width: calc((100%-150px)/6);
    // }
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}





   