:root {
    --icon-color: #afb1b8;
    --border-color: #ececec;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --additional-background-color: #2f303a;
    --white-color: #ffffff;
    --button-background-color: #f5f4fa;
    --footer-link-color: rgba(255, 255, 255, 0.6);
    --cover-color-background: rgba(33, 150, 243, 0.9);
    --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Колір основного тексту color: #212121;*/
/* Вторинний колір color: #757575; */
/* Білий color: #FFFFFF; */
/* Акцентний колір #2196F3 */
/* Колір фону #FFFFFF */
/* Колір додаткового фону #2F303A */
/* Колір фону клопок #F5F4FA */
/*Колір бордера #ECECEC */
/* Колір іконок #AFB1B8 */
/* Колір каверу rgba(33, 150, 243, 0.9); */

/*  Функція кубіка */